.tags {
  margin-top: 2em;
}

.tag-row {
  margin-bottom: 60px;
  width: 100%;
}

.tag-letter {
  border-bottom: 1px solid rgba(228, 229, 233, 0.96);
  padding-bottom: 15px;
  text-transform: uppercase;
}

.tag {
  display: inline-block;
  width: 12em;
  margin-bottom: 1.5em;
  box-shadow: none;
}
