html, body {
    font-size: 16px;
    font-family: "Droid Serif";
    height: 100%;

    @include media(@medium-up) {
        font-size: 18px;
    }

    @include media(@large-up) {
        font-size: 20px;
    }
}

a {
    color: #AD141E;
    box-shadow: 0px 1px 0px 0px rgba(173, 20, 30, 0.1);
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PlayfairBold";
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

textarea, code, tt, pre {
    font-family: 'Inconsolata', sans-serif, monospace!important;
    color: #000;
    background: #eee;
}

pre {
    padding: 7px 30px;
    margin: 15px -8px;
    line-height: 1.3;
    border-style:solid;
    border-width:1px;
    border-color:#bbb;

    @include media(@medium-up) {
        margin: 15px -30px;
    }
}

code, tt {
    padding: 1px 4px 1px 4px;
    border-style:solid;
    border-width:1px;
    border-color:#bbb;
}
