{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} | ShortCircuits{% endblock %}
{% block description %}{{ article.summary|striptags }}{% endblock %}
{% block keywords %}{{ article.tags|join(',') }}{% endblock %}
{% block content %}
<article itemscope itemtype="http://schema.org/Article">
    <h1 class="title" itemprop="name">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>

    <div class="post-header">
        <div class="meta-info">
            <div class="post-date">
                <span>
                    <time itemprop="dateCreated" datetime="{{ article.date|strftime('%Y-%m-%d') }}">
                        {{ article.date|strftime('%B %d, %Y') }}
                    </time>
                </span>
            </div>
            {% include 'taglist.html' %}
        </div>
    </div>
    <div class="post-body" itemprop="articleBody">
        {{ article.content }}
    </div>
</article>

{% endblock %}
