{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} | ShortCircuits{% endblock %}
{% block description %}{{ article.summary|striptags }}{% endblock %}
{% block keywords %}{{ article.tags|join(',') }}{% endblock %}
{% block content %}
<article itemscope itemtype="http://schema.org/Article">
    <h2 class="title" itemprop="name">
        {% if article.series %}
            {% set title = article.series.name + ' ' + article.series.index|string + ': ' +  article.title %}
        {% else %}
            {% set title = article.title %}
        {% endif %}
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ title|striptags }}"> {{ title }}</a>
    </h2>

    <div class="post-header">
        <div class="meta-info">
            <div class="post-date">
                <span itemprop="dateCreated" datetime="{{ article.date|strftime('%Y-%m-%d') }}">
                    {{ article.date|strftime('%B %d, %Y') }}
                </span>
            </div>
        </div>
    </div>
    <div class="post-body" itemprop="articleBody">
        {{ article.content }}
    </div>
    {% include 'taglist.html' %}
</article>
{% include 'disqus.html' %}
{% endblock %}
