<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"/>
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{% block description %} Shortcircuits is my personal portfolio to showcase my projects and a place to write about stuff when i feel like it. {%endblock%}">
    <meta name="keywords" content="{% block keywords %}{%endblock%}">
    <meta name="author" content="Nikhil K">
</head>

<body itemscope itemtype="http://schema.org/WebPage">
    {% include 'analytics.html' %}

    <div class="wrapper">
        <header>
            <a class="title" href="{{ SITEURL }}/" itemprop="url">
                <span>Short</span><span>Circuits</span>
                <img class= "logo2" alt="site-logo" src="{{ SITEURL }}/static/images/logo.png">
            </a>
            <nav itemprop="breadcrumb">
                <a href="{{ SITEURL }}/projects">Projects</a>
                <a href="{{ SITEURL }}/about">About</a>
                <a href="{{ SITEURL }}/contact">Contact</a>
            </nav>
            <div class="clearfix"></div>
        </header>

        <section id="container" itemprop="http://schema.org/mainContentOfPage">
            {% block content %}
            {% endblock %}
        </section>
        <div class="push"></div>
    </div>

    <footer>
        Powered by <a href="https://github.com/getpelican/pelican" itemprop="url">Pelican</a>. Source available on <a href="https://github.com/nikhilkalige/nikhilkalige.github.io" itemprop="url">Github</a>
    </footer>
</body>
</html>
